{% extends 'helpdesk/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Home{% endblock title %}

{% block body %}

{% if user.rol.is_agent %}
<!-- [ navigation menu ] start -->
{% include 'helpdesk/navbar_agent.html' %}
<!-- [ navigation menu ] end -->
{% else %}
<!-- [ navigation menu ] start -->
{% include 'helpdesk/navbar.html' %}
<!-- [ navigation menu ] end -->
{% endif %}


<!-- [ Header ] start -->
{% include 'helpdesk/header.html' %}
<!-- [ Header ] end -->

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-wrapper">
		<div class="pcoded-content">
			<div class="pcoded-inner-content">
				<div class="main-body">
					<div class="page-wrapper">
						<!-- [ Main Content ] start -->
						<div class="row">
							<!-- [ sample-page ] start -->
							<div class="col-sm-12">
								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="pills-home-tab" data-toggle="pill"
											href="#pills-home" role="tab" aria-controls="pills-home"
											aria-selected="true">Project Introduction</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-profile-tab" data-toggle="pill"
											href="#pills-profile" role="tab" aria-controls="pills-profile"
											aria-selected="false">Sitemap</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-contact-tab" data-toggle="pill"
											href="#pills-contact" role="tab" aria-controls="pills-contact"
											aria-selected="false">Contact</a>
									</li>
								</ul>
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
										aria-labelledby="pills-home-tab">
										<p class="mb-0">
											My scaled-down version of a Helpdesk system for submitting issues via tickets. This is my second project, and it was much more "relaxed" than my first deployed project. Here, I developed a simple system that tries to resemble some of the main features of an enterprise-scale system. I applied a lot of what I learned developing my portfolio website, for example: structuring the project from start to finish before writing a line of code to minimize setbacks and eventualities. I also implemented other things that I picked up along the way, such as making the first migration with an AbstractUser (read <a target="_blank"
												href="https://github.com/soloamilkar/helpdesk/blob/main/account/models.py">account.models.MyUser
												Docstring</a>).
											<hr>
											You can read the README. Or you can read and clone the project from Github.
											<hr>
										</p>
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										aria-labelledby="pills-profile-tab">
										<p class="mb-0">
											<table class="table table-bordered">
												<thead>
													<th>Public URLs</th>
												</thead>
												<tbody>
													<tr>
														<td><a href="{% url 'helpdesk:index' %}">Index</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'account:login' %}">Login</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'account:create' %}">Sign Up</a></td>
													</tr>
												</tbody>
											</table>
											<table class="table table-bordered">
												<thead>
													<th>Private URLs (Login Required)</th>
												</thead>
												<tbody>
													<tr>
														<td><a href="{% url 'helpdesk:dashboard' %}">Dashboard</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'account:edit' %}">Edit Account</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'account:rol' %}">Account Role</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'helpdesk:new_ticket' %}">New Ticket</a>
														</td>
													</tr>
													<tr>
														<td><a href="#">Ticket Info</a> (Displays a ticket only if you are the owner or the agent who will work on it.)</td>
													</tr>
													<tr>
														<td><a href="{% url 'helpdesk:vacation_list' %}">Vacation List</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'helpdesk:new_ticket' %}">Vacation Request</a> (You automatically access it after creating a ticket with the "Vacation" category)</td>
													</tr>
													<tr>
														<td><a href="{% url 'helpdesk:unassigned' %}">Unassigned Tickets</a> (only available for agents).</td>
													</tr>
													<tr>
														<td><a href="{% url 'account:logout' %}">Logout</a></td>
													</tr>
												</tbody>
											</table>
										</p>
									</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel"
										aria-labelledby="pills-contact-tab">
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>
							</div>
							<!-- [ sample-page ] end -->
						</div>

						<!-- [ Main Content ] end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}