{% extends 'helpdesk/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Home{% endblock title %}

{% block body %}

{% if user.rol.is_agent %}
<!-- [ navigation menu ] start -->
{% include 'helpdesk/navbar_agent.html' %}
<!-- [ navigation menu ] end -->
{% else %}
<!-- [ navigation menu ] start -->
{% include 'helpdesk/navbar.html' %}
<!-- [ navigation menu ] end -->
{% endif %}


<!-- [ Header ] start -->
{% include 'helpdesk/header.html' %}
<!-- [ Header ] end -->

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-wrapper">
		<div class="pcoded-content">
			<div class="pcoded-inner-content">
				<div class="main-body">
					<div class="page-wrapper">
						<!-- [ Main Content ] start -->
						<div class="row">
							<!-- [ sample-page ] start -->
							<div class="col-sm-12">
								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="pills-home-tab" data-toggle="pill"
											href="#pills-home" role="tab" aria-controls="pills-home"
											aria-selected="true">Project introduction</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-profile-tab" data-toggle="pill"
											href="#pills-profile" role="tab" aria-controls="pills-profile"
											aria-selected="false">Sitemap</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-contact-tab" data-toggle="pill"
											href="#pills-contact" role="tab" aria-controls="pills-contact"
											aria-selected="false">Contact</a>
									</li>
								</ul>
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
										aria-labelledby="pills-home-tab">
										<p class="mb-0">
											TechCareAfrica introduces a small-scale version of a Helpdesk system designed to streamline issue reporting through tickets. This project marks the second milestone in my development journey, offering a more relaxed experience compared to my initial deployment. Here, I endeavored to create a simplified system that emulates key features of enterprise-scale platforms. 
											Drawing from the lessons learned while developing my portfolio website, I prioritized meticulous project structuring before diving into code implementation. This strategic approach aimed to minimize setbacks and anticipate potential challenges.<br> <br> Notably, I incorporated techniques such as conducting the initial migration with an AbstractUser model, demonstrating a commitment to best practices and efficient project management.
											With TechCareAfrica's Helpdesk system, users can effortlessly submit tickets detailing their IT-related concerns, fostering a smoother communication channel for issue resolution. This endeavor reflects a synthesis of acquired knowledge and a dedication to delivering effective solutions tailored to real-world challenges. <br><br>(read <a target="_blank"
												href="https://github.com/IsaacZachary/TechCareAfrica.git">account.models.MyUser
												Docstring</a>).
											<hr>
											You can read the README. Or you can read and clone the project from Github.
											<hr>
										</p>
										<div class="col-sm-12 d-flex justify-content-center">
											<img src="{% static 'images/1.png' %}" alt="Image 1" style="max-width: 50%; height: 50%;">
										</div>
										
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										aria-labelledby="pills-profile-tab">
										<p class="mb-0">
											<table class="table table-bordered">
												<thead>
													<th> Public URLs</th>
												</thead>
												<tbody>
													<tr>
														<td><a href="{% url 'helpdesk:index' %}">Index</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'account:login' %}">Log In</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'account:create' %}">Register</a></td>
													</tr>
												</tbody>
											</table>
											<table class="table table-bordered">
												<thead>
													<th>Private URLs (Login required)</th>
												</thead>
												<tbody>
													<tr>
														<td><a href="{% url 'helpdesk:dashboard' %}">Dashboard</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'account:edit' %}">Edit Account</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'account:rol' %}">Account Role</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'helpdesk:new_ticket' %}">New Ticket</a>
														</td>
													</tr>
													<tr>
														<td><a href="#">Ticket Info</a> (Displays a ticket only if you are the owner or the agent assigned to work on it.)</td>
													</tr>
													<tr>
														<td><a href="{% url 'helpdesk:vacation_list' %}">Vacation List</a></td>
													</tr>
													<tr>
														<td><a href="{% url 'helpdesk:new_ticket' %}">Vacation Request </a> (Accessed automatically after creating a ticket with the category "Vacations")</td>
													</tr>
													<tr>
														<td><a href="{% url 'helpdesk:unassigned' %}">Unassigned Tickets</a> (available only for agents).</td>
													</tr>
													<tr>
														<td><a href="{% url 'account:logout' %}">Logout</a></td>
													</tr>
												</tbody>
											</table>
										</p>
									</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel"
										aria-labelledby="pills-contact-tab">
										<p class="mb-0">TechCare Africa is a revolutionary provider of online IT/software support services, revolutionizing how businesses in Kenya and Africa access reliable technical assistance. Our platform offers on-demand support from skilled technicians, ensuring fast response times, affordable pricing, and seamless troubleshooting. With a focus on customer satisfaction and innovation, we empower businesses to overcome IT challenges and thrive in the digital landscape.</p>
									</div><br><br>
									<div class="col-sm-12 d-flex justify-content-center">
										<img src="{% static 'images/9.png' %}" alt="Image 9" style="max-width: 50%; height: 50%;">
									</div>

								</div>
							</div>
							<!-- [ sample-page ] end -->
						</div>

						<!-- [ Main Content ] end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}