<nav class="pcoded-navbar menupos-fixed menu-light brand-blue ">
    <div class="navbar-wrapper ">
        <div class="navbar-brand header-logo">
            <a href="index.html" class="b-brand">
                <img src="/images/logo.svg" alt="" class="logo images">
                <img src="/images/logo-icon.svg" alt="" class="logo-thumb images">
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Welcome@{% if user.is_authenticated %}, {{user.username.title}}.</label>{% endif %}
                </li>
                <li class="nav-item">
                    <a href="{% url 'helpdesk:index' %}" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'helpdesk:dashboard' %}" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-clipboard"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span class="pcoded-mtext">Account</span></a>
                    <ul class="pcoded-submenu">
                        {% if user.is_anonymous %}

                        <li class=""><a href="{% url 'account:login' %}" class="">Log in</a></li>
                        <li class=""><a href="{% url 'account:create' %}" class="">Register</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class=""><a href="{% url 'account:rol' %}" class="">Choose Role</a></li>
                        <li class=""><a href="{% url 'account:edit' %}" class="">Edit Account</a></li>
                        <li class=""><a href="{% url 'account:logout' %}" class="">Log out</a></li>
                        {% endif %}
                </li>

            </ul>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item pcoded-menu-caption">
                <label>Tickets</label>
            </li>
            <li class="nav-item pcoded-hasmenu">
                <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-bookmark"></i></span><span class="pcoded-mtext">Options</span></a>
                <ul class="pcoded-submenu">
                    <li class=""><a href="{% url 'helpdesk:unassigned' %}" class="">Take ticket</a></li>
                    <li class=""><a href="{% url 'helpdesk:dashboard' %}" class="">View my tickets</a></li>
            </li>
            </ul>
            </li>
            {% else %}
            <li class="nav-item pcoded-menu-caption">
                <label>Tickets</label>
            </li>
            <li class="nav-item pcoded-hasmenu">
                <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-bookmark"></i></span><span class="pcoded-mtext">Options</span></a>
                <ul class="pcoded-submenu">
                    <small class="nav-link"> You need an account to interact with this panel. <a class="text-c-blue"
                            href="{% url 'account:create' %}">Create here.</a></small>
                    <li class="nav-link">Create ticket</li>
                    <li class="nav-link">View my tickets</li>
                    <li class="nav-link">Create comment</li>
                    <li class="nav-link">Create vacation request</li>
            </li>
            </ul>
            </li>
            {% endif %}
            <li class="nav-item pcoded-menu-caption">
                <label>Créditos</label>
            </li>
            <li class="nav-item"><a href="https://isaaczachary.github.io/portfolio/" target="_blank" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span
                        class="pcoded-mtext"><small>Created by Isaac Zachary</small></span></a>
            </li>
            </ul>
        </div>
    </div>
</nav>