{% extends 'helpdesk/base.html' %}
{% load widget_tweaks %}

{% block title %}Vacaciones{% endblock title %}

{% block body %}
{% include 'helpdesk/navbar.html' %}
{% include 'helpdesk/header.html' %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Vacation list.</h5>
                                        <span class="d-block m-t-5">In this list, you can see the status of your vacations.</span>
                                    </div>
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            {% if vacations %}
                                            <table class="table table-inverse">
                                                <thead>
                                                    <tr>
                                                        <th>Ticket</th>
                                                        <th>Status</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Agent</th>
                                                        <th>Message</th>
                                                    </tr>
                                                </thead>
                                                {% for vacation in vacations %}
                                                <tbody>
                                                    <tr class="vacation-{{vacation.status}}">
                                                        <td>{{vacation.ticket.code}}</td>
                                                        <td>{{vacation.status.title}}</td>
                                                        <td>{{vacation.from_date}}</td>
                                                        <td>{{vacation.to_date}}</td>
                                                        {% if vacation.agent %}
                                                        <td>{{vacation.agent.username.title}}</td>
                                                        {% else %}
                                                        <td>Assigning</td>
                                                        {% endif %}
                                                        {% if vacation.status == 'approved' %}
                                                        <td>{{vacation.mensajito}}</td>
                                                        {% elif vacation.status == 'pending' %}
                                                        <td>We are working to give you a response as soon as possible :)</td>
                                                        {% elif vacation.status == 'declined' %}
                                                        <td>We're sorry, {{ticket.owner}}. We couldn't process the request.</td>
                                                        {% endif %}
                                                    </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                            {% else %}
                                            <!-- Si no hay va -->
                                            <h5>You have no vacation requests.</h5>
                                            <p>Create a ticket with the category "Vacations" to request a vacation: <a href="{% url 'helpdesk:new_ticket' %}">here</a>.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}